@model IEnumerable<MvcHomework.Models.Kisi>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="card text-center">
    <div class="card-header">
        Yeni Kayıt Bölümündesiniz..
    </div>
    <div class="card-body">
        <form action="@Url.Action("Create","Admin")" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="ad">Ad</label>
                    <input name="AD" type="text" class="form-control" id="ad" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="soyad">Soyad</label>
                    <input name="SOYAD" type="text" class="form-control" id="soyad" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="yas">Yaş</label>
                    @*<input type="text" class="form-control" id="yas" aria-describedby="inputGroupPrepend2" required>*@
                    <select name="YAS" class="custom-select" id="yas" required>
                        <option selected>Yaş Seçiniz...</option>
                        @for (int i = 10; i <= 80; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="tel">Telefon</label>
                    <input name="TELEFON" type="tel" class="form-control" id="tel" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="memleket">Memleket</label>
                    <input name="MEMLEKET" type="text" class="form-control" id="memleket" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="email">E-Mail</label>
                    <input name="EMAIL" type="text" class="form-control" id="email" required>
                </div>

                <div class="form-group col-md-12 mb-3 text-center">
                    <label for="adres">Adres</label>
                    <textarea name="ADRES" class="form-control" id="adres" rows="3" required></textarea>
                </div>
            </div>

            <label for="kayit">Yeni Kişinin Kayıt Olması İçin Kaydet Butonuna Tıklayınız..</label><br />
            <button class="btn btn-success" type="submit" value="Save">Kaydet</button>
        </form>
    </div>
    <div class="card-footer">
        <br />
    </div>
</div>